<nav class="navbar navbar-expand-lg bg-body-tertiary bg-success-subtle p-3">
  
  <div class="container-fluid fs-5">
      <div class="left-nav">
        <img class="avatar" src="https://scontent.fsin15-1.fna.fbcdn.net/v/t39.30808-6/348698259_228362626598428_6248985613179645064_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=GKEppYFYHT4AX9I6qyG&_nc_ht=scontent.fsin15-1.fna&oh=00_AfAUldXiHamQIFZxDn3fI-H_dAItausBPTwcBMxzp1BmJg&oe=65DF5431" alt="popcon">
      </div>

      <div class="right-nav d-flex align-items-center">
        <%= link_to "Return to main", lists_path, class:"btn btn-primary me-3"%>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddList">Add List</button></p>
        
      </div>
    </div>
</nav>  

<!-- Modal -->
<div class="modal fade" id="AddList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add List</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= simple_form_for List.new do |f| %>
            <%= f.input :name %>
             <%= f.input :image_list, as: :file %>
            <%= f.submit class:"btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>